 .container {
     display: grid;
     grid-template-columns: repeat(3, max-content);
     border-top: 1px solid rgb(68, 68, 109);
     width: fit-content;
     /*Faz o grid envolver apenas as células*/

 }

 .td {
     padding: 10px;
     height: 40px;
     width: 200px;
     display: flex;
     align-items: center;
     border-bottom: 1px solid rgb(68, 68, 109);
     border-right: 1px solid rgb(68, 68, 109);
     font-family: Arial, Helvetica, sans-serif;
     color: rgb(49, 46, 46);

 }

 .destacar {
     font-weight: bold;
 }